.v-widget {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    white-space: normal;
	display: block;
    vertical-align: initial;    
}
.v-csslayout-container {
	display: block;
}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.top5p { margin-top:5%; }
.top7p { margin-top:7%; }
.top10p { margin-top:10%; }
